<ion-searchbar slot="top" showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar>

<ion-tabs>
  <ion-tab-bar slot="secondary" color="primary">
    <ion-tab-button tab="tinnhan">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>DANH BA</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="danhba">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>OFFICIAL ACCOUNT</ion-label>
    </ion-tab-button>


<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="tinnhan">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Tin nhan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="danhba">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Danh ba</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nhom">
      <ion-icon name="people"></ion-icon>
      <ion-label>Nhom</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nhatky">
      <ion-icon name="time"></ion-icon>
      <ion-label>Nhat ky</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="them">
      <ion-icon name="more"></ion-icon>
      <ion-label>Them</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>


<ion-content>

</ion-content>
<ion-tabs>

  <ion-tab-bar slot="top" color="primary">
    <ion-tab-button tab="tinnhan">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>DANH BA</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="danhba">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>OFFICIAL ACCOUNT</ion-label>
    </ion-tab-button>

<ion-content>

</ion-content>
