
<ion-content class="background">
  <form class="box">
    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col>
          <div><img src="assets/imgs/azura.jpg"></div>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid> 

    <h1>
      Login
    </h1>

    <input type="text" name="" placeholder="Username">
    <input type="text" name="" placeholder="Password">
    <input type="submit" name="" placeholder="Login">
  </form>
</ion-content>
